<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.cgmn.msxl">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".application.AppApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.cgmn.msxl.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".ac.MainActivity">
<!--            <meta-data-->
<!--                    android:name="android.support.PARENT_ACTIVITY"-->
<!--                    android:value=".ParentActivity"-->
<!--                    />-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ac.loginActivity" />
        <activity android:name=".ac.ForgetPasswordActivity" />
        <activity android:name=".ac.AppMainActivity" />
        <activity android:name=".ac.RealControlActivity" />
        <activity android:name=".ac.StatisticActivity"/>
        <activity android:name=".ac.ModeSettingActivity"/>
        <activity android:name=".ac.VIPActivity"/>
        <activity android:name=".ac.AccountInfoActivity"/>
        <activity android:name=".ac.EditNameActivity"/>
        <activity android:name=".ac.EditSignatureActivity"/>
        <activity android:name=".ac.EditPasswordActivity"/>
        <activity android:name=".ac.EditGenderActivity"/>
        <activity android:name=".ac.EditHeaderActivity" android:hardwareAccelerated="false" />

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>